<mat-card>
  <mat-card-title>
    <h1 class="card-title">Filtros</h1>
  </mat-card-title>
  <mat-card-content>
    <form
      role="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      autocomplete="off"
      class="filtersForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Semestre</mat-label>
        <mat-select
          formControlName="semester"
          (selectionChange)="getAllJourneys()"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let semester of semesters" [value]="semester.id">
            {{ semester.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['semester'].hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Jornada</mat-label>
        <mat-select formControlName="journey">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let journey of journeys"
            [value]="journey.day_session"
          >
            {{ journey.day_session }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['journey'].hasError('required')"
          >Este campo es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estrato</mat-label>
        <mat-select formControlName="stratum">
          <mat-option></mat-option>
          <mat-option *ngFor="let stratum of stratums" [value]="stratum.id">
            {{ stratum.number }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Género</mat-label>
        <mat-select formControlName="gender">
          <mat-option></mat-option>
          <mat-option *ngFor="let gender of genders" [value]="gender.id">
            {{ gender.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Facultad Primera Opción</mat-label>
        <mat-select
          formControlName="firstOptionFaculty"
          (selectionChange)="getProgramsByFaculty($event.value, 'first')"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let faculty of faculties" [value]="faculty.id">
            {{ faculty.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Programa Primera Opción</mat-label>
        <mat-select formControlName="firstOptionProgram">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let program of firstPrograms"
            [value]="program.id"
          >
            {{ program.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Facultad Segunda Opción</mat-label>
        <mat-select
          formControlName="secondOptionFaculty"
          (selectionChange)="getProgramsByFaculty($event.value, 'second')"
        >
          <mat-option></mat-option>
          <mat-option *ngFor="let faculty of faculties" [value]="faculty.id">
            {{ faculty.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Programa Segunda Opción</mat-label>
        <mat-select formControlName="secondOptionProgram">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let program of secondPrograms"
            [value]="program.id"
          >
            {{ program.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Continente de Residencia</mat-label>
        <mat-select
          formControlName="continent"
          (selectionChange)="
            getAllCountriesByContinent(
              this.form.controls['continent'].value,
              'residence',
              3,
              2
            )
          "
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let continent of locations.residence.data[3]"
            [value]="continent.id"
          >
            {{ continent.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pais de Residencia</mat-label>
        <mat-select
          formControlName="country"
          (selectionChange)="
            getAllStatesByCountry(
              this.form.controls['country'].value,
              'residence',
              2,
              1
            )
          "
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let country of locations.residence.data[2]"
            [value]="country.id"
          >
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Departamento de Residencia</mat-label>
        <mat-select
          formControlName="state"
          (selectionChange)="
            getAllMunicipalitiesByState(
              this.form.controls['state'].value,
              'residence',
              1,
              0
            )
          "
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let state of locations.residence.data[1]"
            [value]="state.id"
          >
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Municipio de Residencia</mat-label>
        <mat-select formControlName="municipality">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let municipality of locations.residence.data[0]"
            [value]="municipality.id"
          >
            {{ municipality.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Continente del colegio</mat-label>
        <mat-select
          formControlName="schoolContinent"
          (selectionChange)="
            getAllCountriesByContinent(
              this.form.controls['schoolContinent'].value,
              'school',
              4,
              3
            )
          "
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let continent of locations.school.data[4]"
            [value]="continent.id"
          >
            {{ continent.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pais del colegio</mat-label>
        <mat-select
          formControlName="schoolCountry"
          (selectionChange)="
            getAllStatesByCountry(
              this.form.controls['schoolCountry'].value,
              'school',
              3,
              2
            )
          "
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let country of locations.school.data[3]"
            [value]="country.id"
          >
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Departamento del colegio</mat-label>
        <mat-select
          formControlName="schoolState"
          (selectionChange)="
            getAllMunicipalitiesByState(
              this.form.controls['schoolState'].value,
              'school',
              2,
              1
            )
          "
          (selectionChange)="getAllSchoolsByNaturalnessAndLocation()"
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let state of locations.school.data[2]"
            [value]="state.id"
          >
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Municipio del colegio</mat-label>
        <mat-select
          formControlName="schoolMunicipality"
          (selectionChange)="getAllSchoolsByNaturalnessAndLocation()"
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let municipality of locations.school.data[1]"
            [value]="municipality.id"
          >
            {{ municipality.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Naturalidad del colegio</mat-label>
        <mat-select
          formControlName="schoolNaturalness"
          (selectionChange)="getAllSchoolsByNaturalnessAndLocation()"
        >
          <mat-option></mat-option>
          <mat-option
            *ngFor="let naturalness of naturalnesses"
            [value]="naturalness.naturalness"
          >
            {{ naturalness.naturalness }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Colegio</mat-label>
        <mat-select formControlName="school">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let school of locations.school.data[0]"
            [value]="school.id"
          >
            {{ school.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-container">
        <div *ngIf="loading" class="d-flex justify-content-center">
          <app-loading [value]="30"></app-loading>
        </div>
        <div *ngIf="!loading" mat-dialog-actions class="btn-center">
          <button mat-raised-button class="btn-success" type="submit">
            Consultar
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
