<mat-card class="mt-3">
  <mat-card-title>
    <h1 class="bulk__title">Inscritos por semestre</h1>
  </mat-card-title>
  <mat-card-content class="bulk__description"
    >El objetivo principal de este cargue masivo es ingresar al aplicativo la
    información personal respecto a la presentación al semestre de admisión de
    los aspirantes a un semestre.</mat-card-content
  >
  <mat-card-footer class="bulk__submit"
    ><button mat-raised-button class="btn-success">Realizar Cargue</button>
  </mat-card-footer>
</mat-card>
