<div class="container">
  <mat-card class="mt-3">
    <mat-card-title>
      <h1 class="card-title">Estadísticas dinámicas del examen de admisión</h1>
    </mat-card-title>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Discriminado por pregunta">
        <app-questions></app-questions>
      </mat-tab>
      <mat-tab label="Discriminado por estado de admisión">
        <app-version></app-version>
      </mat-tab>
      <mat-tab label="Third"> </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
