<div class="container">
  <mat-card class="mt-3">
    <mat-card-title>
      <h1 class="card-title">Estadísticas dinámicas del examen de admisión</h1>
    </mat-card-title>
    <mat-tab-group
      mat-stretch-tabs
      (selectedTabChange)="tabChange($event.index)"
    >
      <mat-tab label="Discriminado por pregunta">
        <app-questions [active]="tabs[0].active"></app-questions>
      </mat-tab>
      <mat-tab label="Discriminado por estado de admisión">
        <app-admitted [active]="tabs[1].active"></app-admitted>
      </mat-tab>
      <mat-tab label="Discriminado por componente"> </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
