.keys {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 2rem 0;
  padding: 1rem;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 0.5rem;
  background-color: var(--green_light);
  column-gap: 1rem;
}

.keys-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #35944b;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
}

.key-label{
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.key-data{
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5rem 0;
  line-height: 2rem;
}
