.card-title {
  font-family: "Roboto-Regular", serif;
  font-size: 30px;
  color: var(--success);
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--success) !important;
}

::ng-deep.mat-form-field-outline {
  color: var(--success) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--success) !important;
}

mat-form-field {
  width: 100% !important;
}

.btn-center {
  text-align: center;
  display: block;
}
